.home-about {
  background-image: url("https://webextheme.com/html/loxicat/images/bg/ac2.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  width: 100%;
  height: 140vh;
}
